<h1>Musical Chairs</h1>
{{#if isLoggedIn}}
 <h2>Welcome back, {{user.username}}!</h2>
{{/if}}
<form action="/search" method="GET">
 <input type="text" name="query" placeholder="Search posts...">
 <button type="submit">Search</button>
</form>


<h3>Search Results for "{{query}}"</h2>
<ul>
 {{#each results}}
 <li>{{comment}}</li>
 {{/each}}
</ul>


{{#unless isLoggedIn}}
 <br />
 <a class='btn' href='/signup'>Sign Up</a>
{{/unless}}
