<div class="card mx-auto" style="width: 25rem;">
  <h1 class="text-center mt-2">Login</h1>
  <form class='login-form p-2'>
    {{!-- <label for='username'>Username</label><br /> --}}
    <input type='text' name='username' id='username' placeholder="Username"/><br />
    {{!-- <label for='password'>Password</label><br /> --}}
    <input type='password' name='password' id='password' placeholder="Password"/><br />
    <button class='btn my-2 login-btn' type='submit'>Log In</button>
  </form>
  <p class="ms-2">Don't have an account yet? <a href='/signup'>Sign Up Here</a></p>
</div>
<script src='/js/login.js'></script>

{{!-- login/sign up design template https://codepen.io/mamislimen/pen/jOwwLvy --}}