<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form id="post-form" class="form-class">
          <div class="form-group">
            <label for="post-title">Title:</label>
            <input type="text" id="post-title" name="post-title" class="form-control">
          </div>
          <div class="form-group">
            <label for="post-content">Content:</label>
            <textarea id="post-content" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label for="song-url">Song URL:</label>
            <input type="text" id="song-url" class="form-control">
          </div>
          <div class="form-group">
            <label for="artist">Artist:</label>
            <input type="text" id="artist" class="form-control">
          </div>
          <div class="form-group">
            <label for="album">Album:</label>
            <input type="text" id="album" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">Create Post</button>
        </form>
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content start" style = "margin-top: 100px;">
        <form id="search-form">
          <div class="form-group">
            <label for="search-input">Search by Song or Artist:</label>
            <input type="text" id="search-input" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>
    </div>
    <div id="results-container"></div> 
    <div id="post-container" class="d-flex justify-content-end mb-5"></div>
    </div>
  </div>
  <script src="/js/spotify.js"></script>
</body>