<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Spotify Search</title>
  </head>
  <body>
    <form id="search-form">
      <label for="search-input">Search for a song:</label>
      <input type="text" id="search-input" name="search-input">
      <button type="submit">Search</button>
    </form>
    <div id="results-container"></div>
    <script src="/js/spotify.js"></script>
  </body>
</html>