<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Spotify Search</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  </head>
  <body>
    <form id="search-form">
      <label for="search-input">Search by Song or Artist:</label>
      <input type="text" id="search-input" name="search-input">
      <button type="submit">Search</button>
    </form>
    <div id="results-container"></div>
    <script src="/js/spotify.js"></script>
  </body>
</html>