* {
    font-family: 'Merriweather', serif;
}
.btn {
    font-family: 'Roboto', sans-serif;
}
/* bootstrap dark color is 212529 */
body {
    background: linear-gradient(#212529 60%, rgba(27, 0, 62, 0.798));
    justify-content: center;
}

/* for sign-in and sign-up cards */
.card {
    /* border-color:rgb(156, 81, 255);
    background-color: rgba(213, 168, 255, 0.369);
     */
    width: 250px;
    height: 400px;
    overflow: hidden;
    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;

    color: #fff;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
}

.card button {
    width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

.card button:hover{
	background: #6d44b8;
}

.card input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: auto;
	padding: 20px;
	border: none;
	outline: none;
	border-radius: 5px;
}

/* title credits due here https://codepen.io/kajetan-orski/pen/YzQObKg */
.logo-text {
    font-size: 10vmin;
	display: flex;
	position: fixed;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
	user-select: none;
	z-index: 1;
}
.letter {
	transition: ease-in 1s, ease-out 1s;
    color: #573b8a;
	transform: translateY(40%);
}
.letter:hover {
	transform: translateY(-50%);
    opacity: 0;
}


/*  */
.form-class {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 200px;
}

#search-form {
	font-family: 'Roboto', sans-serif;
	position: relative;
}

.btn-primary {
	font-family: 'Roboto', sans-serif;
	background-color: #4B0082;
	color: #fff;
	border-color: #000;
	margin-top: 5px;
	margin-bottom: 5px;
}
.btn-primary:hover {
	background: #6d44b8;
	border-color: #000;
}

/* for home page posts */
.public-posts {
	background: #21252900;
	overflow: auto;
	max-height: 60vh;
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.public-posts::-webkit-scrollbar {
	display: none;
}

/* for home page header */
#discover-h3 {
	color: #573b8a;
	font-weight: bolder;
	font-family: 'Merriweather', serif;
	display: block;
	position: relative;
	left: 10%;
	font-size: 4vmin;
	text-shadow: 0.3px 0.3px 3px #242424;
}

/* search song results */
#results-container h3{
	font-size: medium;
}
#results-container p{
	font-size: 10px;
}

/* for created by date */
.created-line {
	font-size: 12px;
	/* color: #bc9cf7; */
	color: white;
}

.music-post-container {
	overflow: auto;
	max-height: 65vh;
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.music-post-container::-webkit-scrollbar {
	display: none;
}

/* for profile post container */
#profile-posts {
	border-radius: 15%;
}
/* for profile page posts */
.profile-posts {
	overflow: auto;
	max-height: 65vh;
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.profile-posts::-webkit-scrollbar {
	display: none;
}

#homepage-post {
	border-radius: 10%;
}

